# --- SEGURANÇA ---
# Tempo de expiração do código (OTP) em minutos (Ex: 5)
OTP_EXPIRATION_MINUTES=5

# --- CONFIGURAÇÕES DO SERVIDOR ---
# Porta onde a aplicação Node vai rodar
PORT=8000

# --- CONFIGURAÇÕES DO BANCO DE DADOS (DOCKER) ---
# Host no Docker (nome do serviço no docker-compose)
DB_HOST=db
# Usuário do MySQL (Padrão: root)
DB_USER=
# Senha definida no MYSQL_ROOT_PASSWORD
DB_PASS=
# Nome do banco de dados criado no init.sql
DB_NAME=
# Formato de codificação (Ex: utf8mb4)
DB_FORMAT=utf8mb4

# --- CONFIGURAÇÕES DO MAILER ---
# Host do SMTP (Ex: sandbox.smtp.mailtrap.io ou smtp.gmail.com)
EMAIL_HOST=
# Porta do SMTP (Ex: 2525 para Mailtrap ou 587 para Gmail)
EMAIL_PORT=
# Seu usuário/e-mail
EMAIL_USER=
# Sua senha ou Senha de App (16 dígitos do Google)
EMAIL_PASS=