.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal {
    width: 400px;
    background: rgba(20,20,20,0.9);
    border-radius: 12px;
    padding: 25px;
    align-items: center;

    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.modal h2 {
    margin-bottom: 15px;
    color: #c084fc;
}

.modal input {
    width: 380px;
    padding: 10px;
    margin-bottom: 10px;

    border-radius: 8px;
    border: none;

    background: rgba(255,255,255,0.1);
    color: white;
}

.modal-buttons {
    display: flex;            
    justify-content: center; 
   align-items: center;     
    gap: 15px;              
    margin-top: 25px;       
    width: 100%;            
}

.modal-buttons button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.2s;
}

.modal-buttons button:hover {
    opacity: 0.8;
}

.confirm {
    background: #8a2be2;
}

.cancel {
    background: #e22b2b;
}

.modal-overlay.active {
    display: flex;
}

.buttonFolder, .buttonCards {
    align-items: center;
}

