body {
    margin: 0;
    display: flex;
    background: linear-gradient(135deg, #1a002b, #3a0066, #6202bc);
    justify-content: center;
    align-items: center;    
    height: 100vh;          
    font-family: sans-serif;
    color: white;
}

form:not(.confirmRegistration), div:not(.Login_buttons):not(.divider):not(.action):not(.btn-edit){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #1e1e1e; 
    padding: 40px;
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
}

.Login_buttons {
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    width: 100%;
}

.btn_rgConfirm {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 15px;
    width: 100%;
}


.divider {
    text-align: center;
    color: #aaa;
    margin: 10px 0;
    width: 100%;
}

input {
    padding: 10px;
    width: 250px; 
    border: none; 
    border-radius: 8px; 
    background-color: #2c2c2c; 
    color: white; 
}

input::placeholder {
    color: #aaa; 
}

button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px; 
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 5px 0;
    width: 100%;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
}

button[name="submit"],
button[name="emailRequest"],
button[name="redefPassword"],
button[name="confirmRedef"],
button[name="btn_rgConfirm"],
button[name="btn-saveUser"] {
    background: #8a2be2;
    border: none;
    color: white;
}

button[name="createAccount"],
button[name="btn-edit"] {
    background: transparent;
    border: 1px solid #8a2be2;
    color: #8a2be2;
}

button[name="reset"],
.cancel {
       background: transparent;
    border: 1px solid #e22b2b;
    color: #e22b2b;
}

button:hover {
    transform: translateY(-2px); 
    filter: brightness(1.1);     
}

button:active {
    transform: translateY(0);
}


label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #ccc; 
}

.code-input {
    text-align: center;
    outline: none;
    width: 35px;
    height: 35px;
    background-color: #2c2c2c; 
    color: white; 
    border-radius: 6px;
}

.redefPassword {
    text-align: right;
    width: 390px;
}